/* @tailwind base;
@tailwind components; */
@tailwind utilities;

:root {
  /* light dark mode */
  color-scheme: dark;
  --primary-bg: light-dark(#FFFFF0, #1B1B1B);
  --primary-contrast: light-dark(#1B1B1B, #FFFFF0);
}

*{
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  color: var(--primary-contrast);
  background: var(--primary-bg);
  font-family: var(--ibm-mono-plex);

  /* remove margin */
  margin: 0;
}